doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
  body
    h1 学习webpack2 ggg
    div#view
    script(src="/js/utils/framework.js")
    script(src="/js/bundle/common.js")
    script(src="/js/bundle/index.js")
